#mallaWrap {
  padding: 12px;
  display: flex;
  flex-direction: row; /* 🔥 ESTO OBLIGA COLUMNAS */
  gap: 14px;
  justify-content: center;
  align-items: flex-start;
  overflow-x: auto;
  white-space: nowrap; /* 🔥 PREVIENE QUE BAJEN A UNA FILA NUEVA */
}

.col {
  display: inline-flex;   /* 🔥 para que sean columnas verdaderas */
  flex-direction: column;
  vertical-align: top;
}
